*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: auto;
    min-height: 100vh;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    padding: 10px;  
    width: 700px;
    align-items: center;
    justify-content: center;
}

section {
    height: 50px;
    margin-bottom: 20px;
}

.msg  {
    margin: 0px;
    width: auto;
    align-items: flex-end;
    justify-content: space-between;
}

.msg .notificatoin {
    position: relative;
    display: block;
    padding: 15px;
    width: 10px;
}

.notify {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px;
    right: 1px;
    width: auto;
    min-height: auto;
}
 
img {
    margin-right: 15px;
}

.tooltip::before {
    content: attr(data-tooltip);
    position: relative;
    padding: 6px 12px;
    display: none;
    top: -100%;
}

.tooltip:hover::before {
    display: block;
    background: blue;
    margin: 21px 27px;
    border-radius: 5px;
    width: 250px;
    float: right;
    color: #fff;
}

.tootltip[data-position = 'bottom']::before {
    top: 100%;
    left: 0%;
}

.icon1 {
    width: 30px;
    position: absolute;
    right: 0;
}